extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/standard-products.pug


block main
    +list-products-standard("SẢN PHẨM NỔI BẬT", feautedProducts)
    +list-products-standard("SẢN PHẨM MỚI", newProducts)