extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/standard-products.pug
include ../../mixins/pagination.pug

block main
    +list-products-standard(pageTitle, products)     
    .container(style="display: flex")
        +pagination(pagination)