header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/admin") ADMIN
          a(
            href=`/${prefix}/auth/logout`
            class= "admin-logout"
          ) Đăng xuất

      .col-9