.sider
  .inner-menu
    ul 
      li
        a(href="/admin") Tổng quan
      li
        a(href="/admin/product") Quản lí sản phẩm
      li
        a(href="/admin/products-category") Danh mục sản phẩm
      li
        a(
          class = "trash"
          href="/admin/trash"
        ) Thùng rác