.sider
  .inner-menu
    ul 
      li
        a(href="/admin") Tổng quan
      li
        a(href="/admin/product") Quản lí sản phẩm
      li
        a(href="/admin/products-category") Danh mục sản phẩm
      li
        a(href="/admin/roles") Nhóm quyền
      li
        a(href="/admin/roles/permissions") Phân quyền
      li
        a(href=`/${prefix}/accounts`) Tài khoản admin
      li
        a(
          class = "trash"
          href="/admin/trash"
        ) Thùng rác